* {
    margin: 0px;
    padding: 0;
}

body {
    background-image: url(Gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.header {
    background-color: rgba(5, 5, 5, 0.424);
    height: 75px;
    margin: 0px;
}

.left {
    color: white;
    display: flex;
    width: auto;
    float: left;
}

.mid {
    color: white;
    display: flex;
    width: auto;
    margin: 23px 10px;
    text-align: center;
    float: right;
}

.left2 {
    display: inline-block;
    color: white;
    width: 166px;
    font-size: 30px;
    padding-left: 15px;
    margin: 24px 0px;
}


/* .right {
    color: white;
    display: inline-block;
    width: 120px;
    float: right;
    margin: 22px;
} */

.img {
    height: 70px;
    width: auto;
    margin-left: 9px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
}

.navbar {
    display: flex;
    list-style: none;
    text-align: center;
    width: auto;
    justify-content: center;
}

.navbar li {
    display: inline-block;
    padding: 0px 23px;
    font-size: 24px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}



.navbar li a:hover{
 color: rgb(15, 15, 15);
 background: white;
 border: 2px solid white;
 border-radius: 13px;
 padding: 5px;
}




.Home {
    color: white;
    background-color: rgba(255, 228, 196, 0.123);
    width: 630px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
}


.lorem{
    font-size: 19px;
}


/* Image Box  */
#Demo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
  }

/* image 1 */
#Demo .box1{
    background-color: #627dd746;
    color:white;
    border: 2px solid rgb(0, 0, 0);
    margin: 23px;
    width: 300px;
}

#Demo .box1 img{
   width: 300px;
   height: 270px;
}


/* Image2 */
#Demo .box2{
    background-color: #627dd746;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    margin: 23px;
    width: 300px;
}

#Demo .box2 img{
   width: 300px;
   height: 270px;
}



/* Image 3 */
#Demo .box3{
    background-color: #627dd746;
    color: white;
    border: 2px solid rgb(14, 14, 14);
    margin: 23px;
    width: 300px;
}

#Demo .box3 img{
   width: 300px;
   height: 270px;
}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 142, 142, 0.548);
    color: white;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 10px;
    text-align: center;
    width: 35vw;
    padding: 25px;
    margin: 80px 130px;
    font-size: 20px;
}

.form-group input {
    text-align: center;
    width: auto;
    padding: 14px 125px;
    margin: 9px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 17px;
    color: black;
    box-sizing: border-box;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 430px;
    padding: 12px;
    margin: 6px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
}


h1 {
    margin-bottom: 23px;
    font-size: 45px;
}
footer {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    height: 60px;
    font-size: 17px;
    justify-content: center;
    display: flex;
    align-items: center;
}